{% extends "encyclopedia/layout.html" %}

{% block title %}
    Duplicate Entry
{% endblock %}

{% block body %}
    <h1>A Wiki entry titled <a href="wiki/{{ title1 }}">{{ title1 }}</a> already exists</h1>
    <div>
        <form action="{% url 'wiki:wiki_save' %}" method="post">
            <div class="form-floating mb-3">
                {% csrf_token %}
                <input class="form-control" autofocus value="{{ title1 }}" name="title1">
                <label>Change your title:</label>
                <div class="form-text">Consider a different title or edit the existing entry.</div>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" name="entry1" style="height: 200px">{{ entry1 }}</textarea>
                <label class="form-label">Your Wiki entry text</label>
                <div class="form-text">Reminder: use <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">the Markdown syntax</a></div>
            </div>
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>
{% endblock %}