{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Wiki Entry
{% endblock %}

{% block body %}
    <h1>Edit Wiki entry <a href="wiki/{{ title1 }}">{{ title1 }}</a></h1>
    <div>
        <form action="{% url 'wiki:wiki_save' %}" method="post">
            <div class="form-floating mb-3">
                {% csrf_token %}
                <input class="form-control" autofocus value="{{ title1 }}" name="title1">
                <label>Current Wiki entry title:</label>
                <div class="form-text">You can edit this title and save the edits below.</div>
            </div>
            <div class="form-floating mb-3">
                <textarea class="form-control" name="entry1" style="height: 200px">{{ entry1 }}</textarea>
                <label class="form-label">Current Wiki entry text</label>
                <div class="form-text">You can edit this entry and save the edits below. Use <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">the Markdown syntax</a></div>
            </div>
            <!-- <div class="mb-3 form-check">
                <input class="form-check-input" type="checkbox" name="save_action" value="editing">
                <label class="form-check-label">Save but keep editing</label>
            </div> -->
            <input type="submit" class="btn btn-primary" value="Save">
        </form>
    </div>
{% endblock %}